<div class="checkdetailsbox">
  <p><strong>Date:</strong> {{ appointment.date|date('l jS F Y') }}</p>
</div>
<div class="checkdetailsbox">
  <p><strong>Time:</strong> {{ appointment.date|date('g:i A') }}</p>
</div>
<div class="checkdetailsbox">
  <p><strong>Referral for:</strong> {{ appointment.referral_for }}</p>
</div>
<div class="checkdetailsbox">
  <p><strong>Clinic Name:</strong> {{ clinic.name }}</p>
</div>
<div class="checkdetailsbox">
  <p><strong>Address:</strong> {{ clinic.location }}</p>
</div>
<div class="column-two-thirds">
</div>
