



<!--FILTER MENU START-->
<nav class="cbp-spmenu cbp-spmenu-vertical  cbp-spmenu-left" id="cbp-spmenu-s1" style="overflow:auto;-webkit-box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49); -moz-box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49);box-shadow: 17px -1px 23px -16px rgba(0,0,0,0.49);
">
  <!--SLIDE OUT FILTER START-->
    
    

    
    
<div class="row">
  <div class="col-xs-6 col-md-4" style="background-color:red;">
    
    
    <a id="some-button" href="#">click me</a> 
    
    </div>
  <div class="col-xs-6 col-md-4" style="background-color:blue;-khtml-opacity: 0.2;opacity: 0.2;">.col-xs-6 .col-md-4</div>
</div>
    
    
    
</nav>
<!--FILTER MENU END-->
