<!--MAP MENU START-->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2" style="overflow:auto;-webkit-box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);-moz-box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);box-shadow: -17px 1px 23px -16px rgba(0,0,0,0.49);">
  <!--MAP HEADER START-->
  <header role="banner" id="global-header">
    <div class="header-container" style="background-color:#9B004F;padding-top: 10px !important; padding-bottom: 10px !important;margin-left: 0px !important; margin-right: 0px !important;">
      <div class="container-fluid" >
        <div class="row-fluid" >
          <div class="span8" >
            <h2 style="color:#fff;font-size:18px;padding-top:15px;">Map Clinics</h2>
          </div>
          <div class="span4" >
            <button id="showRightPush" style="background-color:#9B004F;border:0px;"><img src="{{assetPath}}images/x_37x37.svg" width="37px" height ="37px" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!--MAP HEADER END-->
  <div style="padding:10px;">
    <p>The following clinics have been sorted by distance from your home address.</p>
    <p>Your home address is set at <a href="/">LS2 4GH</a> </p>
  </div>
  <img src="{{assetPath}}images/clinic_map copy.png" width="275px" alt="">

  <!--CLINIC 1 INFO START-->
  <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
    <div class="container-fluid" style="">
      <div class="row-fluid ">
        <div class="span2" style="background-color:#9B004F;">
          <p></p>
          <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">1</h1>
        </div>
        <div class="span8" style="">
          <p>
            <h1 style="font-size:20px;line-height: 23px;color:#231f20;">Heart Failure - Cardiology - Leeds TH (Leeds Gen Inf) - RR8</h1>
            <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Leeds General Infirmary, Leeds, LS1 3EX</p>
            <p><strong>5 Miles</strong> from <button type="button" class="button-postcode" data-toggle="modal" data-target="#postcode">LS2 4GH</button></p>
          </p>
        </div>
        <div class="span1" >
          <p style="text-align:right;">
            <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--CLINIC 1 INFO END-->

  <!--CLINIC 2 INFO START-->
  <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
    <div class="container-fluid" style="">
      <div class="row-fluid ">
        <div class="span2" style="background-color:#9B004F;">
          <p></p>
          <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">2</h1>
        </div>
        <div class="span8" style="">
          <p>
            <h1 style="font-size:20px;line-height: 23px;color:#231f20;">Cardiology Heart Failure - Harrogate Trust (Harrogate District Hospital) - RCD</h1>
            <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Lancaster Park Road, Harrogate, North Yorkshire, HG2 7SX</p>
            <p><strong>13 Miles</strong> from <a href="/">LS2 4GH</a></p>
          </p>
        </div>
        <div class="span1" >
          <p style="text-align:right;">
            <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--CLINIC 2 INFO END-->

  <!--CLINIC 3 INFO START-->
  <div class=" clickable-row" data-href='/book-an-appointment/select-appointment' style="border-bottom:1px solid #000;">
    <div class="container-fluid" style="">
      <div class="row-fluid ">
        <div class="span2" style="background-color:#9B004F;">
          <p></p>
          <h1 style="font-size:20px;color:#fff;text-align:center;height:100px;">3</h1>
        </div>
        <div class="span8" style="">
          <p>
            <h1 style="font-size:20px;color:#231f20;">General Cardiology - Cardiology - Rotherham Foundation Trust - RFR</h1>
            <p style="margin-bottom: 0px !important; padding-bottom: 10px !important;">Moorgate Rd, Rotherham, South Yorkshire S60 2UD</p>
            <p><strong>28 Miles</strong> from <a href="/">LS2 4GH</a></p>
          </p>
        </div>
        <div class="span1" >
          <p style="text-align:right;">
            <img src="/public/images/arrow-line-forward.svg" height="120px" width="30px">
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--CLINIC 3 INFO END-->
</nav>
<!--MAP MENU END-->
