{% extends 'templates/nhs_transaction_layout.html' %}
{% import 'includes/form_macros.html' as form_macros %}

{% block afterHeader %}
{% include "includes/service-headers/book-an-appointment.html" %}
{% endblock %}

{% block content %}
<main role="main">
  <body class="cbp-spmenu-push">

    {% include "book-an-appointment/clinic-filters.html" with
    {
      hide_waiting_times: true,
      hide_distance: true,
      hide_accessibility: true,
      hide_facilities: true,
      hide_cqc_rating: true,
      hide_choices_rating: true,
      hide_parking: true
    }
    %}

    {% include "book-an-appointment/clinic-map.html" %}

    <div class="container">
      <header class="clearfix">
      </header>
      <div class="main" style="padding-top: 20px;">
        <!-- MAIN CONTENT -->
        <h1 class="heading-large" style="padding-top: 0px !important;margin-bottom:10px;">
          Select your Appointment
        </h1>
        <div class="bookbox">
          <h2 style="padding-bottom:0px;font-weight: bold;line-height:28px;"><a style="color:#0072C6;" id="showRight">{{ clinic.name }}</a></h2>
          <p>{{ clinic.location }}</p>
          <div class="checkdetailsbox" style="padding-bottom: 2px !important; padding-top: 10px !important;">
            <p><strong>{{ clinic.distance_away }} Miles</strong> from <strong>LS2 4GH</strong></p>
          </div>
          <div class="checkdetailsbox" style="padding-bottom: 5px !important; padding-top: 10px !important;">
            <p style="margin-bottom:0px;">CQC Rating <img src="{{assetPath}}images/cqc_req_{{ clinic.cqc_rating }}.svg" /></p>
          </div>
        </div>

        <!--FILTER BUTTON START-->
        <div class="container-fluid" style="padding:15px 0 15px 0;">
          <div class="row-fluid" style="padding:0 0 0 0;">
            <div >
              <p>
                <a class="button button-filter" id="showLeft" style="color:#fff">Filter</a>
              </p>
            </div>
          </div>
        </div>
        <!--FILTER BUTTON END-->

        <table class="table table-striped">
          <tbody>
            {% for appointment in clinic.appointments %}
            <tr class='clickable-row' data-href='/book-an-appointment/{{ clinic.id }}/review-appointment/{{ appointment.id }}'>
              <td> <p style="margin: 0rem 0rem 0rem 0rem;">{{ appointment.date|date('l') }} <strong>{{ appointment.date|date('jS F') }}</strong> {{ appointment.date|date('Y') }}</p></td>
              <td> <p>{{ appointment.date|date('g:iA') }}</p></td>
              <td> <p style="color:#0072C6;font-weight:700;font-size:2rem;">></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          <section style="visibility: hidden;">
            <button id="showLeft">Show/Hide Left Slide Menu</button>
            <button id="showRight">Show/Hide Right Slide Menu</button>
            <button id="showTop">Show/Hide Top Slide Menu</button>
            <button id="showBottom">Show/Hide Bottom Slide Menu</button>
          </section>
        </div>
      </div>

      <!-- Modal START -->
      <div class="container">
        <!-- Modal CHANGE POSTCODE START -->
        <div class="modal fade" id="postcode" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit home postcode</h4>
              </div>
              <div class=" " style="padding:20px;">
                <div class="form-group" style="margin-bottom: 2rem;">
                  <input type="postcode" class="form-control" id="postcode" placeholder="Postcode">
                </div>
              </div>
              <div class="modal-footer" style="border-top:0px;">
                <button type="button" class="button button-book" data-dismiss="modal">Save</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Modal CHANGE POSTCODE END -->
      </div>
      <!-- Modal End-->
    </main>

    <script src="/public/javascripts/vendor/modernizr.custom.js"></script>
    <script src="/public/javascripts/vendor/classie.js"></script>
    <script>
    var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
    menuRight = document.getElementById( 'cbp-spmenu-s2' ),
    menuTop = document.getElementById( 'cbp-spmenu-s3' ),
    menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
    showLeft = document.getElementById( 'showLeft' ),
    showRight = document.getElementById( 'showRight' ),
    showTop = document.getElementById( 'showTop' ),
    showBottom = document.getElementById( 'showBottom' ),
    showLeftPush = document.getElementById( 'showLeftPush' ),
    showRightPush = document.getElementById( 'showRightPush' ),
    body = document.body;

    showLeft.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuLeft, 'cbp-spmenu-open' );
      disableOther( 'showLeft' );
    };
    showRight.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuRight, 'cbp-spmenu-open' );
      disableOther( 'showRight' );
    };
    showTop.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuTop, 'cbp-spmenu-open' );
      disableOther( 'showTop' );
    };
    showBottom.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( menuBottom, 'cbp-spmenu-open' );
      disableOther( 'showBottom' );
    };
    showLeftPush.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( body, 'cbp-spmenu-push-toright' );
      classie.toggle( menuLeft, 'cbp-spmenu-open' );
      disableOther( 'showLeftPush' );
    };
    showRightPush.onclick = function() {
      classie.toggle( this, 'active' );
      classie.toggle( body, 'cbp-spmenu-push-toleft' );
      classie.toggle( menuRight, 'cbp-spmenu-open' );
      disableOther( 'showRightPush' );
    };

    function disableOther( button ) {
      if( button !== 'showLeft' ) {
        classie.toggle( showLeft, 'disabled' );
      }
      if( button !== 'showRight' ) {
        classie.toggle( showRight, 'disabled' );
      }
      if( button !== 'showTop' ) {
        classie.toggle( showTop, 'disabled' );
      }
      if( button !== 'showBottom' ) {
        classie.toggle( showBottom, 'disabled' );
      }
      if( button !== 'showLeftPush' ) {
        classie.toggle( showLeftPush, 'disabled' );
      }
      if( button !== 'showRightPush' ) {
        classie.toggle( showRightPush, 'disabled' );
      }
    }
    </script>

    <script>
    $(document).ready(function() {
      $('.accordion > dd').hide();
      $('.accordion > dt > a').click(function(){
        $(this).parent().next().slideToggle()
        .siblings('.hide').slideUp();
        return false;
      });
      $('.close').click(function(){
        $('.accordion .hide').slideUp();
      });
    });
    </script>

    {% endblock %}
