{% extends 'templates/nhs_transaction_layout.html' %}

{% block pageTitle %}NHS.UK prototyping kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="heading-xlarge">NHS e-Referral Service Prototypes</h1>
  <!--<h2 class="heading-large" style="padding-top: 30px !important;">Prototypes</h2>-->
  <h2 class="heading-large" style="padding-top:20px;">
  <ul style="padding-left: 20px !important;">
    <li><a href="/book-an-appointment/" style="color:#000;">Book an Appointment</a></li>
  </ul>
    </h2>

    
            <div class="no-results hidden bs-callout bs-callout-warning">
<div class="phase-banner">
  <p>
    <b>This is a new service.</b> We're still working on it. Send feedback to
    <a href="mailto:nhs.ers@hscic.gov.uk">nhs.ers@hscic.gov.uk</a>
    to help us improve it. The live service is <a href="https://www.ebs.ncrs.nhs.uk">www.ebs.ncrs.nhs.uk</a>
  </p>
</div>
        </div>
    
    
    
</main>

{% endblock %}
 
